extends layout

block content
  h1= title
  p Welcome to #{title}
  
  h2 API Documentation
  ul
    li
      a(href='/v1/material') material 
    li 
      a(href='/v1/quiz') quiz 
    li 
      a(href='/v1/youtube') Youtube 
    li 
      a(href='/v1/category') category